.game-board {
  width: 28/39 * 100%;
  height: 80%;
  display: grid;
  grid-gap: 0.5%;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
  border: 1px solid red;
}
.blocked {
  pointer-events: none;
}
