{{#each this}}
  <tr>
    <th class="p-1 text-center" scope="row">{{position}}</th>
    <td class="p-1 text-center text-break">{{name}}</td>
    <td class="p-1 text-center">{{score}}</td>
  </tr>
{{/each}}
