@import '~bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/_root';
@import '../../node_modules/bootstrap/scss/_reboot';
@import '../../node_modules/bootstrap/scss/_variables';
@import '../../node_modules/bootstrap/scss/_mixins';
@import '../../node_modules/bootstrap/scss/_containers';

h1 {
  margin-top: 0;
}
ul {
  list-style: none;
}
.container {
  min-height: 100vh;
  height: 1px;
}
.btn {
  min-width: 130px;
}

.load-more {
  width: 100px;
  height: 30px;
}

@import './components/gameBoard';
